<div class="jumbotron">
    <div class="row">
        <div class="logo col-md-3">
            <img src="/compositions/logo_tb3.png" class="img-responsive"/>
        </div>

        <div class="col-md-6">
            <h1>Travel-Yaari</h1>
        </div>

        <div class="logo col-md-3">
            <img src="/compositions/logo_tb3.png" class="img-responsive"/>
        </div>

    </div>
</div>

<div class="tab_Color">
    <uib-tabset>
        <uib-tab index="0" ui-sref-active="active" ui-sref=".step1" heading="step1" id="tab1" class="tab-disable">
        </uib-tab>

        <uib-tab index="1" ui-sref-active="active" ui-sref=".step2" heading="step2" id="tab2">
        </uib-tab>

        <uib-tab index="2" ui-sref-active="active" ui-sref=".step3" heading="step3" id="tab3">
        </uib-tab>

    </uib-tabset>
</div>

<div ui-view></div>
